
#
#  POWERLINE COLORS OVERRIDE
#
#    - Uncomment and define for custom color scheme
#
#POWERLINE_COLOR_HOST_BG='208'
#POWERLINE_COLOR_HOST_FG='000'
#POWERLINE_COLOR_USER_BG='236'
#POWERLINE_COLOR_USER_FG='252'
#POWERLINE_COLOR_DIR_BG='252'
#POWERLINE_COLOR_DIR_FG='236'
#POWERLINE_COLOR_END_BG='000'


